$nbViewsLoaded: 3;
$color-contour: rgb(0, 0, 0);
$color-contour: transparent; // TODO Remove later

*,
:before,
:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // overflow: hidden;
}

html,
body {
    height: 100vh;
    // scroll-behavior: smooth;
    overflow: hidden;
}

// .view {
//     width: calc(100vh + 100vh * 2 * #{$nbViewsLoaded});
//     height: 100vh;
//     margin-left: calc(-100vh * #{$nbViewsLoaded});
//     // background: rgb(2, 0, 36);
//     // background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(23, 255, 55, 1) 50%);
//     background: left/contain no-repeat
//         url(https://sp-images.summitpost.org/696383.jpg?auto=format&fit=max&h=800&ixlib=php-2.1.1&q=35&s=5f23fe7f86b5fd900e4adadd21f9e4e4);
// }
.glass-container {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    position: fixed;
    z-index: 100;
    display: flex;
    flex-direction: column;
    animation: all 1s ease-in;

    .glass-bg {
        flex-grow: 1;
        background-color: $color-contour;
        animation: all 1s ease-in;
    }
    .glass-subcontainer {
        display: flex;

        .glass {
            font-size: 0;
            width: 80%;
            animation: all 1s ease-in;

            path {
                // color:transparent; // TODO Remove later
            }
            .sun_cover {
            }
        }
    }
}

.view {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;

    .sun {
        z-index: 1;
        position: absolute;
        background: no-repeat url(../images/sun.png);
        left: 10%;
        top: 20%;
        background-size: 100px;
        width: 100px;
        height: 100px;
    }

    .tree {
        z-index: 2;
        position: absolute;
        bottom: 30vh;

        img {
            z-index: inherit;
            // background-color: transparent;
            // width: 20vw;
            height: 50vh;
        }
    }

    .hills {
        height: 100vh;
        width: 100vw;
        top: 10vh;
        position: absolute;
        z-index: 3;
        background: repeat-x url(../images/hill/1.png);
        background-size: 125%;
        background-position-x: 0;
    }

    .cloud {
        z-index: 1;
        height: 70vh;

        #viewport {
            z-index: inherit;
            position: absolute;
            overflow: hidden;
            width: 100%;
            height: inherit;
            perspective: 1000px;
            background-image: linear-gradient(bottom, rgb(69, 132, 181) 28%, rgb(31, 72, 122) 64%);
            background-image: -webkit-gradient(
                linear,
                left bottom,
                left top,
                color-stop(0.28, rgb(69, 132, 180)),
                color-stop(0.64, rgb(31, 71, 120))
            );
        }

        #world {
            z-index: inherit;
            position: absolute;
            height: 100%;
            width: 100%;
            transform-style: preserve-3d;
            // background: rgba( 255, 0, 0, .2 );
            div {
                transform-style: preserve-3d;
            }
        }

        .cloudBase {
            position: absolute;
            height: 20px;
            width: 20px;
            // top: 256px;
            // left: 256px;
            margin-top: -10px;
            margin-left: -10px;
            // background: rgba( 255, 0, 255, .5 );
        }

        .cloudLayer {
            position: absolute;
            height: 256px;
            width: 256px;
            // top: 50%;
            // left: 50%;
            margin-top: -128px;
            margin-left: -128px;
            // background: rgba( 0, 255, 255, .1 );
            transition: opacity 0.5s ease-out;
        }
    }
}
